<nav class="site-nav">
    <div class="site-nav-left">
        {% if page.current != 'home' %}
            {% if site.logo %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}"><img src="{{ site.baseurl}}{{ site.logo }}" alt="{{ site.title }}" /></a>
            {% else %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
            {% endif %}
        {% endif %}
        {% if page.navigation %}
            {% include navigation.html %}
        {% endif %}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {% if site.twitter %}
                <a class="social-link social-link-tw" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener"><img width=26 src="../assets/images/twitter.svg"/></a>
            {% endif %}
            {% if site.mastodon %}
                <a class="social-link social-link-tw" href="https://androiddev.social/@{{ site.mastodon }}" target="_blank" rel="noopener"><img width=26 src="../assets/images/mastodon.svg"/></a>
            {% endif %}
        </div>
    </div>
</nav>
